.a{
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  padding: 5px 10px;
}

.line{
border-left: thick solid #999;
border-width:1px;
height:100vw;
left: 40%;
position: absolute;
}

::placeholder {
color:#DCB3FC;
}

.wrap {
display:flex;
flex-flow: column;
height:100px;
margin:0 0 1em;
}

.content {
padding:1em;
background-color:#ffffff;
margin:1em auto;
width:85%;
/* margin-right: 30%; */
border: 1px solid rgb(0, 0, 0);
color: #DCB3FC;
}

.controller{
position: fixed;
left: 40%;
}

summary {  
  display: block;  
  list-style: none;
}

details summary::-webkit-details-marker {

  display: none;

}

details {
/* border: 1px solid #aaa; */
border-radius: 4px;
padding: 0.5em 0.5em 0;
width: 250px;
}

summary {
font-weight: bold;
margin: -0.5em -0.5em 0;
padding: 0.5em;
}

details[open] {
padding: 0.5em;
}

details[open] summary {
border-bottom: 1px solid #aaa;
margin-bottom: 0.5em;
}


.form-control{
  width: 100px;
}

#nav {
  position: relative;
  margin-top: 10px;
  margin-right: 500px;
  list-style: none;
  font-size: 0;
}
 
#nav li {
  width: 146px;
  text-align: center;
  border: 0.5px solid #aaa9a9;
  background-color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}
 
#nav li a {
  text-decoration: none;
  color: #DCB3FC;
  font-weight: bold;
  padding: 19px;
}

* {
      margin: 0px;
      padding: 0px;
  }

.h{
  position: relative;
  margin-left: 700px;
  margin-top: 280px;
}

.ky{
  position: relative;
  margin-left: 650px;
  margin-top: 10px;
  text-align: right;
}